/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/**
 * Theme styles
 */
* {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}

*:before,
*:after {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}

html {
    font-size:62.5%;
}

body {
    color:#666;
    font-family:'bitstream vera sans mono',monaco,monospace;
    font-size:1.6rem;
    line-height:2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
table,
form {
    margin:2.4rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
   color:black;
}

blockquote {
    border-left:5px solid #eee;
    padding-left:2.4rem;
    margin-left:2.4rem;
    margin-right:2.4rem;
}

.site {
    margin:3.2rem;
}

.site_header {
    margin-bottom:3.2rem;
}

.site_header__brand {
    font-size:1.8rem;
    line-height:2.7rem;
}

.site_header__brand a {
    text-decoration:none;
}

.site_header__brand,
.site_header__description {
    margin-bottom:0;
    margin-top:0;
}

.site_menu {
    font-size:1.4rem;
    margin-bottom:6.2rem;
    margin-top:3.2rem;
}

.post {
    margin-bottom:6.4rem;
    margin-top:6.4rem;
}

.post__permalink {
    float:left;
    margin-left:-2.4rem;
    text-align:center;
    text-decoration:none;
    width:2.4rem;
}

.post__meta {
    color:#999;
}

.post__player {
    height:0;
    margin-bottom:2.4rem;
    padding-bottom:56.25%;
    padding-top:25px;
    position:relative;
    width:100%;
}

.post__player iframe {
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.site_footer {
    color:#999;
}

@media (min-width: 768px) {
    .site {
        margin:6.4rem;
        width:68rem;
    }

    .post__permalink {
        margin-left:-3.2rem;
    }
}
